* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	font-family: "Gilroy";
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../../assets/fonts/iconfont.woff2") format("woff2"); 
} 

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../assets/fonts/Gilroy-Medium.woff") format("woff"), url("../../assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../assets/fonts/Gilroy-Bold.woff") format("woff"), url("../../assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../assets/fonts/Gilroy-Regular.woff") format("woff"), url("../../assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../../assets/fonts/Gilroy-SemiBold.woff") format("woff"), url("../../assets/fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../../assets/fonts/icons.woff") format("woff"), url("../../assets/fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../../assets/fonts/icons.woff") format("woff"), url("../../assets/fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-tik"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-youtube"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-wats"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-twit"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-twch"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-pint"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-inst"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-drb"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-s-beh"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-chain"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  /* color: rgba(218, 197, 167, 0.6); */
  /* font-family: "Chillax", sans-serif; */
  /* background-color: #0e0e0e; */
  font-family: "Gilroy";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*="--arrow-ru"]::before {
  rotate: 45deg;
}

[class*="--arrow-lu"]::before {
  rotate: -45deg;
}

[class*="--arrow-right"]::before {
  rotate: 90deg;
}

[class*="--arrow-left"]::before {
  rotate: -90deg;
}

[class*="--arrow-u"]::before {
  rotate: 0deg;
}

[class*="--arrow-d"]::before {
  rotate: 180deg;
}

[class*="--arrow-rd"]::before {
  rotate: 135deg;
}

[class*="--arrow-ld"]::before {
  rotate: -135deg;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem 1.25rem;
}
.menu__link {
  font-size: 1.2rem;
	font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: rgb(255, 150, 3);
  position: relative;
  transition: color 0.5s;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.03125rem;
  background-color: rgba(218, 197, 167, 0.8);
  left: 50%;
  bottom: 0;
  transition: width 0.5s, left 0.5s;
}
.menu__link--active {
  color: #f9efe1;
}
.menu__link--active::after {
  width: 100%;
  left: 0;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0.9375rem;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
}
.header__container {
  pointer-events: auto;
}
.header__logo, .header__link-logo, .header__button {
  position: relative;
  z-index: 5;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.9375rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: 0.125rem;
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(1.875rem);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  transition: all 0.5s;
}/* Generated by vite-plugin-svg-spritemap */
/* .footer {
  background-color: rgba(218, 197, 167, 0.15);  
  padding-top: 2.5rem;
} */
.footer__container {
  max-width: 89.375rem;
}
.body-footer {
  display: flex;
  border-radius: 0.125rem;
    background-color: rgba(218, 197, 167, 0.05);
    backdrop-filter: blur(1.875rem);
    border: 0.0625rem solid rgba(218, 197, 167, 0.15);
	 padding: 1.5rem
}
.body-footer {
  row-gap: 1.875rem;
}
.body-footer__content {
  flex: 0 28.75%; /* 460/100rem */
}
.body-footer__menus {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.body-footer__menu {
  flex-grow: 1;
}
.body-footer__title {
  color:coral;
  /* font-family: "Satoshi", sans-serif; */
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
}
.--spoller-init .body-footer__title {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.--spoller-init .body-footer__title::after {
  content: "";
  font-family: "iconfont";
  content: "\f112";
  font-size: 1rem;
  rotate: 180deg;
  color:coral;
  transition: rotate 0.3s;
}
.--spoller-active .body-footer__title::after {
  rotate: 0deg;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body-footer__link {
  /* font-family: "Satoshi", sans-serif; */
  /* font-weight: 500; */
  line-height: 1.2;
  letter-spacing: 0.09375rem;
  /* text-transform: uppercase; */
  transition: color 0.3s;
  font-size: 1.1rem;
  /* color: rgb(81 81 81); */
}
.body-footer__button {
  white-space: nowrap;
}

.content-footer {
  display: flex;
  flex-direction: column;
}
/* .content-footer__social.social {
  gap: 1rem;
}
 */
.bottom-footer {
  display: flex;  
  flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;	
  gap: 1.25rem;
}
.bottom-footer__copy {
  line-height: 1.6;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  /* font-family: "Satoshi", sans-serif; */
  font-family: "Gilroy";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  border-radius: 0.125rem;
  padding: 0.5rem;
  height: 2.5625rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(1.875rem);
  color: rgb(252, 125, 57);
  transition: all 0.5s;
}
.button--lite {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgb(255, 182, 143);
  color: #ffffff;
  font-weight: 900;
}
.button--icon {
  flex-direction: row-reverse;
  gap: 0.75rem;
}
.button--icon::before {
  font-size: 0.8125rem;
  display: inline-block;
}
.button--text {
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}
.button--text::before {
  width: 2rem;
  aspect-ratio: 1;
  text-align: center;
  align-content: center;
  border: 0.0325rem solid rgba(255, 182, 143, 0.603);
  background-color: rgba(218, 197, 167, 0.05);
  border-radius: 50%;
  transition: all 0.5s;
}
.button--text-rev {
  flex-direction: row-reverse;
}
.button--fw {
  width: 100%;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
/* .social {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  align-items: center;
} */
.social--text .social__link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  /* text-transform: uppercase; */
}
.social__item {
  flex-shrink: 0;
}
.my-social {
	display: flex; align-items: center; gap: 0.7rem; padding-block: 0.5rem;
}
.social__link::before {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(1.875rem);
  align-content: center;
  text-align: center;
  width: 2.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 0.5s;
  font-size: 0.8125rem;
}/* Generated by vite-plugin-svg-spritemap */

.line-talk__item {
  font-family: "Satoshi", sans-serif;
  padding-block: 1rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  color: rgba(218, 197, 167, 0.8);
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-border] {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color:#f9efe1;
  backdrop-filter: blur(1.875rem);
  border-radius: 0.125rem;
}/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  text-align: center;
  display: grid;
  justify-items: center;
}
.blockhead {
  text-wrap: balance;
}
.blockhead--gap-8 {
  gap: 0.5rem;
}
.blockhead--left {
  text-align: left;
  justify-items: start;
}
.blockhead__label, .blockhead__title {
  /* font-family: "Satoshi", sans-serif; */
  font-family: "Gilroy";
  /* color: rgb(81 81 81); */
  color: rgb(136 119 8);
  max-width: 70.5rem;
  font-weight: 500;
}
.blockhead__label {
  line-height: 1.6;
  font-size: 1.2rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.blockhead__title {
  font-weight: 300;  
}
.blockhead__title span {
  font-family: "Gambetta", serif;
  display: block;
}
.blockhead__title--size-80 {
  font-size: 5rem;
}
.blockhead__text {
  max-width: 80.5rem;
}
.blockhead__text {
  line-height: 1.5;
}
.blockhead__button {
  margin-top: 1.5rem;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 53.125em) {
  .body-footer {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    column-gap: 1.25rem;
  }
}@media (max-height: 53.125em) and (max-width: 20em) {
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
}@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em) {
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color:#f9efe1;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.9375rem 1.25rem;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgba(255, 151, 6, 0.8);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .body-footer {
    flex-direction: column;
  }
  .body-footer__menus {
    justify-content: center;
  }
  .content-footer {
    align-items: center;
    text-align: center;
  }
  .content-footer__social.social {
    justify-content: center;
  }
  /* .content-footer__social.social .social__link {
    font-size: 18px;
	 font-weight: 700;
	 color: white;
    gap: 0;
  } */
  /* .bottom-footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  } */
}@media (max-width: 34.375em) {
  .body-footer__button.button {
    font-size: 0.75rem;
    letter-spacing: 0.0125rem;
  }
}@media (max-width: 31.25em) {
  .body-footer__menus {
    flex-direction: column;
    align-items: center;
  }
  .body-footer__menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}@media (max-width: 29.99875em) {
  .button {
    letter-spacing: 0.05em;
  }
}@media (max-width: 20em) {
  .footer {
    padding-block: 2.5rem;
  }
  .footer__body {
    margin-bottom: 1.875rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__list {
    padding-top: 1.25rem;
  }
  .content-footer {
    gap: 1.25rem;
  }
  .button--text-big::before {
    font-size: 0.8125rem;
  }
  .button--text-big::before {
    width: 2.1875rem;
  }
  .lets-talk__body {
    padding-top: 3.75rem;
  }
  .lets-talk__body {
    padding-bottom: 3.75rem;
  }
  .blockhead {
    gap: 0.5rem;
  }
  .blockhead__title {
    font-size: 2.8125rem;
  }
  .blockhead__title--size-96 {
    font-size: 2.375rem;
  }
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
  .blockhead__text {
    font-size: 0.9375rem;
  }
  .blockhead__text--size-18 {
    font-size: 0.875rem;
  }
  .blockhead__text--size-24 {
    font-size: 1rem;
  }
}@media (max-height: 53.125em) and (min-width: 89.375em) {
  .blockhead__title--size-160 {
    font-size: 8rem;
  }
}@media (max-height: 53.125em) and (min-width: 20em) and (max-width: 89.375em) {
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }
}@media (min-width: 20em) and (max-width: 89.375em) {
  /* .footer {
    padding-block: clamp( 2.5rem , 2.06756756756875rem  +  2.1621621622vw , 4rem );
  } */
  .footer__body {
    margin-bottom: clamp( 1.875rem , 0.82995495495625rem  +  5.2252252252vw , 3.5rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .body-footer__list {
    padding-top: clamp( 0.25rem , 1.03378378378125rem  +  1.0810810811vw , 0.77rem );
  }
  /* .content-footer {
    gap: clamp( 1.25rem , 0.8355855855875rem  +  2.0720720721vw , 2.6875rem );
  } */
  .button--text-big::before {
    font-size: clamp( 0.8125rem , 0.7764639639625rem  +  0.1801801802vw , 0.9375rem );
  }
  .button--text-big::before {
    width: clamp( 2.1875rem , 1.95326576576875rem  +  1.1711711712vw , 3rem );
  }
  .lets-talk__body {
    padding-top: clamp( 3.75rem , 1.9481981982rem  +  9.009009009vw , 10rem );
  }
  .lets-talk__body {
    padding-bottom: clamp( 3.75rem , 1.9481981982rem  +  9.009009009vw , 10rem );
  }
  .blockhead {
    gap: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead__title {
    font-size: clamp( 1.8125rem , 1.31700450450625rem  +  3.4774774775vw , 8rem );
  }
  .blockhead__title--size-96 {
    font-size: clamp( 2.375rem , 0.1768018018rem  +  10.990990991vw , 8rem );
  }
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 0.740427927925rem  +  8.3603603604vw , 5.5rem );
  }
  .blockhead__text {
    font-size: clamp( 1rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .blockhead__text--size-18 {
    font-size: clamp( 0.875rem , 0.802927927925rem  +  0.3603603604vw , 1.125rem );
  }
  .blockhead__text--size-24 {
    font-size: clamp( 1.1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
}@media (min-width: 47.99875em) {
  .menu {
    position: relative;
    z-index: 5;
  }
  .header {
    top: 1rem;
  }
  .header__body {
    gap: 2rem;
    padding-left: 1.5rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  /* .content-footer__social.social {
    align-items: flex-start;
    flex-direction: column;
  } */
}@media (min-width: 53.125em) and (max-width: 89.375em) {
  .body-footer {
    column-gap: clamp( 1.25rem , -2.78017241379375rem  +  7.5862068966vw , 4rem );
  }
  .body-footer__menus {
    column-gap: clamp( 0.25rem , -2.78017241379375rem  +  7.5862068966vw , 1rem );
  }
}@media (min-width: 89.375em) {
  .footer {
    padding-block: 4rem;
  }
  .footer__body {
    margin-bottom: 5.5rem;
  }
  .body-footer {
    column-gap: 2rem;
  }
  .body-footer__menus {
    column-gap: 4rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__list {
    padding-top: 2rem;
  }
  /* .content-footer {
    gap: 2.6875rem;
  } */
  .button--text-big::before {
    font-size: 0.9375rem;
  }
  .button--text-big::before {
    width: 3rem;
  }
  .lets-talk__body {
    padding-top: 10rem;
  }
  .lets-talk__body {
    padding-bottom: 10rem;
  }
  .blockhead {
    gap: 1rem;
  }
  .blockhead__title {
    font-size: 5rem;
  }
  /* .blockhead__title--size-96 {
    font-size: 10rem;
  } */
  /* .blockhead__title--size-160 {
    font-size: 10rem;
  } */
  .blockhead__text {
    font-size: 1.25rem;
  }
  .blockhead__text--size-18 {
    font-size: 1.125rem;
  }
  .blockhead__text--size-24 {
    font-size: 1.5rem;
  }
}@media (any-hover: hover) {
  .menu__link:hover {
    color: #fcba5f;
  }
  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }
  .button:hover {
    background-color: rgba(218, 197, 167, 0.8);
    color: #0e0e0e;
  }
  .button--lite:hover {
    background-color: rgba(218, 197, 167, 0.05);
    color: rgb(50, 27, 94);
  }
  .button--text:hover {
    color: rgba(241, 143, 5, 0.8);
    background-color: transparent;
  }
  .button--text:hover::before {
    background-color: rgb(255, 182, 143);
    color: #f9efe1;
  }
}@media (any-hover: hover) and (any-pointer: fine) {
  .body-footer__link:hover {
    color: rgb(87, 77, 65);
  }
  .social__link:hover::before {
    color: #0e0e0e;
    background-color: rgba(218, 197, 167, 0.8);
  }
}